html, body {
  margin: 0;
  padding: 0;
  border-box: border-box;
  width: 100%;
  height: 100%; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(104, 195, 212, 0.2); }
  body #app {
    width: 80vw;
    height: 90vh; }
    body #app header {
      height: var(--header-height);
      width: 100%;
      background-color: var(--header);
      margin: 0;
      padding: 0;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body #app header .header-title {
        margin-left: 15px;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: bold;
        color: white; }
      body #app header #menu-button {
        display: none;
        cursor: pointer;
        margin-right: 15px;
        z-index: 99; }
        body #app header #menu-button .bar1, body #app header #menu-button .bar2, body #app header #menu-button .bar3 {
          width: 30px;
          height: 3px;
          background-color: var(--section-header);
          margin: 5px 0;
          transition: 0.3s;
          z-index: 1; }
      body #app header #menu-button.change {
        /* Rotate first bar */
        /* Fade out the second bar */
        /* Rotate last bar */ }
        body #app header #menu-button.change .bar1 {
          -webkit-transform: rotate(-45deg) translate(-7px, 6px);
          transform: rotate(-45deg) translate(-7px, 5px); }
        body #app header #menu-button.change .bar2 {
          opacity: 0; }
        body #app header #menu-button.change .bar3 {
          -webkit-transform: rotate(45deg) translate(-5px, -5px);
          transform: rotate(45deg) translate(-5px, -5px); }
    body #app .app-container {
      height: calc(100% - var(--header-height));
      background-color: var(--background);
      margin: 0;
      padding: 0;
      display: flex;
      position: relative; }
      body #app .app-container .chat-container {
        display: flex;
        flex-direction: column;
        width: calc(100% - var(--section-width)); }
        body #app .app-container .chat-container .messages-container {
          display: flex;
          height: calc(100% - var(--message-height));
          width: 100%;
          overflow: hidden; }
          body #app .app-container .chat-container .messages-container #messages {
            list-style: none;
            width: 100%;
            padding: 0;
            margin: 5px 0px;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-flow: column; }
            body #app .app-container .chat-container .messages-container #messages li {
              padding: 15px 5px;
              max-width: 65%;
              min-width: 35%;
              outline: none;
              border-radius: 10px;
              margin-top: 5px;
              position: relative; }
              body #app .app-container .chat-container .messages-container #messages li .nickname {
                position: absolute;
                top: 5px;
                left: 5px;
                font-weight: bold;
                font-style: italic; }
              body #app .app-container .chat-container .messages-container #messages li .time {
                position: absolute;
                bottom: 2px;
                right: 8px;
                font-size: 12px; }
              body #app .app-container .chat-container .messages-container #messages li p {
                margin: 0;
                padding-left: 5px;
                padding-top: 15px;
                padding-bottom: 5px;
                color: rgba(0, 0, 0, 0.8); }
            body #app .app-container .chat-container .messages-container #messages li.received {
              margin-left: 2%;
              align-self: flex-start;
              border: 1px solid rgba(255, 255, 255, 0.8);
              background-color: rgba(255, 255, 255, 0.8);
              border-bottom-left-radius: 0px; }
            body #app .app-container .chat-container .messages-container #messages li.sended {
              margin-right: 2%;
              align-self: flex-end;
              border: 1px solid rgba(66, 129, 164, 0.8);
              background-color: var(--header);
              border-bottom-right-radius: 0px; }
            body #app .app-container .chat-container .messages-container #messages li.system {
              padding: 0px 15px;
              font-weight: bold;
              font-style: italic;
              color: rgba(0, 0, 0, 0.8); }
            body #app .app-container .chat-container .messages-container #messages .ps__thumb-y {
              background-color: var(--section-body); }
            body #app .app-container .chat-container .messages-container #messages .ps__rail-y:hover > .ps__thumb-y, body #app .app-container .chat-container .messages-container #messages .ps__rail-y:focus > .ps__thumb-y, body #app .app-container .chat-container .messages-container #messages .ps__rail-y.ps--clicking .ps__thumb-y {
              background-color: var(--section-body); }
            body #app .app-container .chat-container .messages-container #messages .ps__rail-y:hover {
              background-color: transparent; }
        body #app .app-container .chat-container .message-container {
          display: inline-flex;
          height: var(--message-height);
          width: 100%;
          padding: 7px; }
          body #app .app-container .chat-container .message-container #message {
            width: 80%;
            border-radius: 20px;
            text-indent: 2.5%; }
          body #app .app-container .chat-container .message-container #send {
            width: 15%;
            margin-left: 2.5%;
            border-radius: 10px;
            background-color: var(--header);
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
            color: var(--section-header); }
          body #app .app-container .chat-container .message-container input:focus, body #app .app-container .chat-container .message-container button:focus, body #app .app-container .chat-container .message-container input, body #app .app-container .chat-container .message-container button {
            border: none; }
      body #app .app-container .users-container {
        display: flex;
        flex-direction: column;
        width: var(--section-width);
        min-width: var(--section-width);
        background-color: var(--section-header);
        transition: 0.5s;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
        body #app .app-container .users-container .users-title {
          width: 100%;
          color: white;
          height: 60px;
          border-bottom: 1px solid rgba(104, 195, 212, 0.5); }
          body #app .app-container .users-container .users-title h3 {
            width: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: center; }
            body #app .app-container .users-container .users-title h3 #connection {
              height: 12px;
              width: 12px;
              border-radius: 50%;
              background: red;
              display: inline-block;
              margin-right: 10px;
              animation: pulse 2s infinite; }
            body #app .app-container .users-container .users-title h3 #connection.online {
              background: green; }
        body #app .app-container .users-container .users-list {
          width: 100%;
          height: calc(100% - 60px); }
          body #app .app-container .users-container .users-list #users {
            list-style: none;
            color: white;
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 0.7px;
            padding: 0px 10px;
            overflow-y: auto;
            height: 95%;
            position: relative;
            margin: 2.5% 0%; }
            body #app .app-container .users-container .users-list #users li {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis; }
            body #app .app-container .users-container .users-list #users .ps__thumb-y {
              background-color: var(--header); }
            body #app .app-container .users-container .users-list #users .ps__rail-y:hover > .ps__thumb-y, body #app .app-container .users-container .users-list #users .ps__rail-y:focus > .ps__thumb-y, body #app .app-container .users-container .users-list #users .ps__rail-y.ps--clicking .ps__thumb-y {
              background-color: var(--header); }
            body #app .app-container .users-container .users-list #users .ps__rail-y:hover {
              background-color: transparent; }
      body #app .app-container .users-container.open {
        width: var(--section-width); }
      body #app .app-container .command-container {
        position: absolute;
        bottom: 46px;
        max-height: 250px;
        left: 30px;
        border: 1px solid rgba(255, 255, 255, 0.8);
        background-color: rgba(255, 255, 255, 0.8);
        border-radius-top-left: 5px;
        border-radius-top-right: 5px; }
        body #app .app-container .command-container #commands {
          list-style: none;
          margin: 0;
          padding: 0;
          min-width: 125px; }
          body #app .app-container .command-container #commands li {
            cursor: pointer;
            padding: 2px 5px; }
          body #app .app-container .command-container #commands li:hover {
            background-color: rgba(200, 200, 200, 0.8); }
      body #app .app-container .command-container.closed {
        border-width: 0px;
        height: 0px; }

/* MEDIA QUERIES */
@media (max-width: 1000px) {
  #app {
    width: 100vw !important;
    height: 100vh !important; } }
@media (max-width: 750px) {
  .users-container {
    visibility: hidden !important;
    position: fixed !important;
    height: 100% !important;
    right: 0 !important;
    width: 0px !important;
    min-width: 0px !important; }

  .users-container.open {
    visibility: visible !important;
    width: var(--section-width) !important;
    display: inline-flex !important;
    z-index: 999 !important; }

  #users {
    height: 90% !important; }

  .chat-container {
    width: 100% !important; }

  .message-container {
    width: auto !important; }

  #messages li {
    max-width: 85% !important; }

  #menu-button {
    display: block !important; } }
@media (max-width: 450px) {
  #message {
    width: 70% !important; }

  #send {
    width: 25% !important; } }
/* ANIMATIONS */
/* PULSE ANIMATION */
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }
/* PALETTE */
html {
  --header: #4281A4;
  --background: #68c3d4;
  --section-header: #344055;
  --section-body: #373737;
  --dark: #0e0b16;
  --light: #defff2;
  --text-color-normal: #0e0b16;
  --section-width: 250px;
  --header-height: 40px;
  --message-height: 40px;
  --messages-width: 500px;
  --users-title-height: 50px; }

/*# sourceMappingURL=chatbox.css.map */
